@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  @apply mx-auto;
  max-width: 1440px;
}
.button {
  @apply w-fit uppercase font-semibold text-center shadow-button;
  &.white {
    @apply text-black bg-white;
  }
  &.black {
    @apply bg-black text-white;
  }
  &.large {
    padding: 15px 30px;
    font-size: 36px;
  }
  &.small {
    padding: 10px 20px;
    font-size: 18px;
  }
}
